body{
    font-family: Montserrat;
    text-align: center;
}
/* SECTIONS */

.colored-section{
    background-color: #ff4c68;
    color: white;
}

.white-section{
    background-color: #ffffff;
}

/* Headings */

h1,h2,h3,h4,h5,h6{
    font: Montserrat-Bold;
}

.big-heading{
    font-size: 3.5rem;
    line-height: 1.5;
}

.sections-heading{
    font-size: 3rem;
    line-height: 1.5;
}

/* CONTAINER */
.container-fluid{
    padding: 7% 15%;
}

/* NAVBAR */

.navbar-brand{
    font-family: Ubuntu;
    font-size: 35px;
    font-weight: bold;
}

.nav-item{
    padding: 0px 18px 50px 18px;
}

.nav-link{
    font-size : 1.2rem;
}

/* TITLE */

#title .container-fluid{
    text-align: left;
    padding: 3% 15%;
}

.col-md{
    padding: 0;
}

.Download-button{
    margin: 5% 3% 5% 0;
}

.title-img{
    rotate: 35deg;
    width: 350px;
    position: absolute;
}

@media (max-width : 1146px) {
    .title-img{
        position: static;
        rotate: 0deg;
    }
    /* #title{
        text-align: center;
    } */
}

/* FEATURES */

#features{
    position: relative;

}

.icon{
    font-size: 40px;
    color: #ef8172;
    
}

.icon:hover{
    color: #ff4c68;
}

.features-text{
    color: #8f8f8f;
    padding: 0 50px 0 50px;
}

.features-title{
    font-size: 1.5rem;
    line-height: 1.5;
}

/* TESTIMONIALS */

#testimonials{
    background-color: #ef8172;
}

.testimonials-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.testimonials-text{
    line-height: 1.5;
    font-size: 3rem;
}

/* PRESS */

#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* PRICING */

#pricing{
    padding: 100px;
}

.price-text{
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-column{
    padding: 3% 2%;
}

/* CTA */

#cta h3{
    font-size: 3rem;
    padding: 3% 2%;
}

#cta button{
    margin: 15px;
    border-radius: 3px;
}

/* FOOTER */

#footer{
    margin: 3% 2%;
}